<%- include('./partials/header'); -%>

<div class="heading">
    <h1>United India - भारत</h1>
    <p>
        United India - भारत is a discord community of super cool user's of DISCORD consisting of awesome wholesome fun lovers, gamers , social influencers , personality icons , developers , content creators , designers and artists .
    </p>
</div>
<div>
    
</div>
</div>

<%- include('./partials/footer'); -%>